.App {
  font-family: helvetica;
  text-align: center;
  display: flex;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  width: 100%;
}

body {
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
}

nav a {
  color: white;
  text-decoration: none;
}

.nav-link {
  color: pink;
  text-decoration: none;
}

.recipe-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.recipe-card {
  text-align: center;
}

.recipe-card h1 {
  font-size: 18px;
  margin-top: 10px;

}

.home-page {
  text-align: center;

}
.home-page figure {
  width: 80%;
  margin: auto;
}

.featured-image {
  width: 100%
}